@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
body{
  background-image: url("../img/bg-01.png");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
}

@media (max-width:768px) {
  body {
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
  }
}

.custom-search-input {
  border: none;
  border-bottom: 2px solid #757575;
  background: transparent;
  outline: none;
  padding-bottom: 5px;
  min-width: 250px;
  text-indent: 40px;
  margin-right: 50px;
  margin-top: -30px;
}

.search-area {
  display: inline-block;
}

.search-icon {
  font-size: 18px;
  margin-right: -20px;
  margin-top: -25px;
}

.navbar-brand img {
  width: 350px;
}

@media (max-width:768px) {
  .navbar-brand img {
    width: 250px;
  }
}

.carousel{
  margin-right: -30px;
}

.carouselll{
  margin-top: -45px;
}

.pltBupati{
  margin-top: 100px;
  margin-left: 100px;
}

@media (max-width:768px) {
  .pltBupati{
    margin-top: 0;
    margin-left: 0;
  }
}

.heading p{
  font-family: 'Open Sans', sans-serif;
  color: #727270;
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 5rem;
  border-bottom: 5px solid #727270;
  border-radius: 5px;
  display: inline-block;
  padding-bottom: 10px;
}

.card{
  background-color: #dcdcdc;
  border-radius: 20px;
}

footer{
  margin-top: 100px;
  left: 0;
  bottom: 0;
}

.btn-menu:hover{
  box-shadow: 0 0 11px slategrey;
  border-radius: 15px;
}

@media (max-width:768px) {
  .btn{
    width: 168px;
    height: 112px;
  }
}

body.modal-open {
  overflow: visible;
}

.search{
  display: none;
}

@media (max-width:768px) {
  .search{
    display: block;
    color: black;
  margin-right: 30px;
  margin-top: -15px;
  }
  .header{
    display: none;
  }
  .heading{
    margin-top: -60px;
  }
  .heading p{
    font-size: 25px;
  }
  footer{
    margin-top: 10px;
    bottom : 0;
  }
}

.header-mobile {
  display: none;
  margin-left: -25px;
}

@media (max-width:768px) {
  .header-mobile{
    display: block;
    left: 0;
    right: 0;
    top: 0;
    position: relative;
  }
  .navbar{
    background: #fafafa;
    box-shadow: 0px 10px 5px rgb(0, 0, 0);
  }
}
